.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alt-header_title {
  font-size: 32px;
  font-weight: 600;
}
.alt-header_column span:last-child{
    margin-left: 20px;
  display: flex;
  justify-content:flex-end;
}
.alt-header_column span:nth-child(2){
  text-align:center;
}
.alt-header_column {
  width:33%;
}